---
import JoinComponent from "../components/Join.vue";
import Configuration from "../components/Configuration.vue";
import Information from "../components/Information.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>MathBattle</title>
  </head>
  <body class="">
    <Configuration client:visible />
    <!-- <Information client:visible /> -->
    <JoinComponent client:visible />
  </body>
</html>
